<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 3</title>
</head>
<body>
    <h1>Pergunta 3</h1>
    <p>Qual a capital do Japão?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required> Osaka<br>
        <input type="radio" name="resposta" value="2"> Tóquio<br>
        <input type="radio" name="resposta" value="3"> Nagasaki<br>
        <input type="radio" name="resposta" value="4"> Kyoto<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
