<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pergunta 1</title>
</head>
<body>
    <h1>Pergunta 1</h1>
    <!-- Exemplo: "Qual a capital do Brasil?" -->
    <p>Qual a linguagem de programação que é o nome de uma cobra?</p>

    <form method="POST">
        <input type="radio" name="resposta" value="1" required>Java<br>
        <input type="radio" name="resposta" value="2"> C#<br>
        <input type="radio" name="resposta" value="3"> Python <br>
        <input type="radio" name="resposta" value="4"> HTML<br>
        <br>
        <button type="submit">Responder</button>
    </form>
</body>
</html>
